confi.py
backend/backend/my.cnf
agriculture.jsx
kisan_bazar.jsx
getcsrdtoken.js
Axios.js

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.env
*.env


node_modules/
npm-debug.log
package-lock.json
uploads
yarn-error.log


dist/
build/
*.tgz


.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-workspace
*.sublime-project


*.log
*.lock
